@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  #About {
    background: url("/bg-about.webp") center no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  #About {
    background: url("/bg-about-max-md.png") center no-repeat;
    background-size: cover;
  }
}

html,
body {
  height: 100%;
}  

@layer base {
  .input {
    @apply h-10 pl-2 rounded-lg bg-transparent border border-gray-400 text-gray-500 outline-none;
  }  
}  

#Home {
  background: url("/bg-project.webp") top no-repeat;
  background-size: cover;
}  

#OurPlans {
  background: url("/bg-plans.webp") center right no-repeat;
  background-size: cover;
}
